/*-------------------------------------------------------------------------------
  1. Declare
  2. Available tags
  3. Animation
  4. Header
  5. Main content
  6. Menu
  7. Custom style
  8. Pagepiling
  9. Responsive
-------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------
  1. Declare
-------------------------------------------------------------------------------*/

:root {
    --black: #000;
    --blackish: #222;
    --white: #fff;
    --whitish: #ccc;
    --grey: #777;
    --greyish: #999;
    --accent: #f5da55;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'MonumentExtended';
    src: url('../fonts/monumentextended-regular-webfont.woff2') format('woff2'),
        url('../fonts/monumentextended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------------------------------------
  2. Available tags
-------------------------------------------------------------------------------*/

html {
    font-size: 16px;
    cursor: default;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: var(--black);
    background-color: var(--white);
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button:focus,
input:focus {
    outline: none;
}

::selection {
    background-color: var(--accent);
    color: var(--black);
    text-shadow: none;
}

-webkit-::selection {
    background-color: var(--accent);
    color: var(--black);
    text-shadow: none;
}

::-moz-selection {
    background-color: var(--accent);
    color: var(--black);
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--black);
}

/*-------------------------------------------------------------------------------
  3. Animation
-------------------------------------------------------------------------------*/

@-webkit-keyframes fade-zoom {
    from {
        opacity: 0;
        margin-left: -192px;
        transform: scale3d(0.6, 0.6, 0.6);
        -webkit-transform: scale3d(0.6, 0.6, 0.6);
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes fade-zoom {
    from {
        opacity: 0;
        margin-left: -192px;
        transform: scale3d(0.6, 0.6, 0.6);
        -webkit-transform: scale3d(0.6, 0.6, 0.6);
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-webkit-keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
        -webkit-transform: translate3d(0, -100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
        -webkit-transform: translate3d(0, -100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, 160px, 0);
        -webkit-transform: translate3d(0, 160px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, 160px, 0);
        -webkit-transform: translate3d(0, 160px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translate3d(-160px, 0, 0);
        -webkit-transform: translate3d(-160px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translate3d(-160px, 0, 0);
        -webkit-transform: translate3d(-160px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(160px, 0, 0);
        -webkit-transform: translate3d(160px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(160px, 0, 0);
        -webkit-transform: translate3d(160px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounce-delay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce-delay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 6px;
        transform: rotate(0);
    }
    100% {
        top: 6px;
        transform: rotate(45deg);
        background-color: var(--black);
    }
}

@keyframes top-2 {
    0% {
        top: 6px;
        transform: rotate(45deg);
    }
    50% {
        top: 6px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
        background-color: var(--white);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 6px;
        transform: rotate(0);
    }
    100% {
        bottom: 6px;
        transform: rotate(135deg);
        background-color: var(--black);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 6px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 6px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
        background-color: var(--white);
    }
}

@keyframes ripple {
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}

.fade-zoom {
    animation-name: fade-zoom;
    -webkit-animation-name: fade-zoom;
}

.fade-in-down {
    animation-name: fade-in-down;
    -webkit-animation-name: fade-in-down;
}

.fade-in-up {
    animation-name: fade-in-up;
    -webkit-animation-name: fade-in-up;
}

.fade-in-left {
    animation-name: fade-in-left;
    -webkit-animation-name: fade-in-left;
}

.fade-in-right {
    animation-name: fade-in-right;
    -webkit-animation-name: fade-in-right;
}

.ripple {
    animation-name: ripple;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

/*-------------------------------------------------------------------------------
  7. Custom style
-------------------------------------------------------------------------------*/

[class^='.row .col-'] {
    margin-bottom: 30px;
}

.accent-font {
    font-family: 'MonumentExtended', sans-serif;
}

.grayscale {
    filter: grayscale(1);
}

.bg-center-cover {
    background-size: cover;
    background-position: 50% 50%;
}

.animation-delay-1 {
    animation-delay: 0.2s;
}

.animation-delay-2 {
    animation-delay: 0.2s;
}

.animation-delay-3 {
    animation-delay: 0.6s;
}

.animation-delay-4 {
    animation-delay: 0.8s;
}

.animation-delay-5 {
    animation-delay: 1s;
}

[id^='circle-'],
[id*='circle-'] {
    border-radius: 50%;
}

.circle-dark {
    background-color: #d3d3d3;
}

.circle-medium {
    background-color: #eee;
}

.circle-light {
    background-color: #f3f3f3;
}

/*-------------------------------------------------------------------------------
  4. Header
-------------------------------------------------------------------------------*/

#header {
    padding: 8px 0;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 997;
}

#header .container-fluid {
    color: var(--white);
    transition: color 0.3s ease-in-out;
}

.header__brand {
    float: right;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}

.header__brand:hover {
    color: var(--white);
    text-decoration: none;
}

.header__contact-item,
.header__contact-divider {
    display: inline-block;
    vertical-align: middle;
    user-select: text;
}

.header__contact-divider {
    margin: 0 28px;
}

.header__tagline {
    color: var(--whitish);
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    float: right;
    font-size: 12px;
    text-align: right;
}

.header__contact {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    float: right;
}

.header__hamburger {
    background: none;
    border: none;
    padding: 12px 0;
    float: left;
    position: relative;
    z-index: 999;
    display: block;
    width: 32px;
}

.header__hamburger .stick {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 3px;
    background-color: var(--white);
    transition: all 0.3s;
    position: relative;
}

.header__hamburger .stick + .stick {
    margin-top: 9px;
}

.header__hamburger #stick-1 {
    animation: ease 0.5s top-2 forwards;
}

.header__hamburger #stick-2 {
    animation: ease 0.5s bottom-2 forwards;
}

.html__menu-show .header__hamburger #stick-1 {
    animation: ease 0.5s top forwards;
}

.html__menu-show .header__hamburger #stick-2 {
    animation: ease 0.5s bottom forwards;
}

/*-------------------------------------------------------------------------------
  6. Menu
-------------------------------------------------------------------------------*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
    background-color: var(--white);
    max-width: 100%;
    width: 400px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    transition: ease-in-out 0.4s;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.html__menu-show .menu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding: 0 8px;
}

.menu-main ul {
    margin: 16px 0;
    padding: 0;
    list-style: none;
}

.menu-main ul li {
    margin: 16px 0;
}

.menu-main a {
    color: var(--black);
    text-decoration: none;
}

.menu-main .active a,
.menu-main a:hover {
    color: var(--accent);
}

.menu-overlay {
    position: fixed;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
    z-index: 980;
}

.html__menu-show .menu-overlay {
    left: 0;
}

.menu .menu-main {
    transition-delay: 0.4s;
}

.menu__footer {
    display: flex;
    flex-direction: column;
}

.menu .menu__footer-social {
    transition-delay: 0.6s;
}

.menu .menu__footer {
    transition-delay: 0.8s;
}

.menu .menu-main,
.menu .menu__footer-social,
.menu .menu__footer {
    opacity: 0;
    transform: translateX(-160px);
    transition: all 0.5s ease-in-out;
}

.html__menu-show .menu .menu-main,
.html__menu-show .menu .menu__footer-social,
.html__menu-show .menu .menu__footer {
    opacity: 1;
    transform: translateX(0);
}

.menu__footer-copyright {
    text-align: right;
    margin: 16px 8px;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--blackish);
}

.menu__footer-social {
    margin: 16px 0;
    padding: 0;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu__footer-social li {
    margin: 0 8px;
}

.menu__footer-social a {
    color: var(--grey);
    transition: color 0.3s ease;
}

.menu__footer-social a:hover {
    color: var(--black);
}

/*-------------------------------------------------------------------------------
  8. Pagepiling
-------------------------------------------------------------------------------*/

#pp-nav.right {
    right: 0;
}

#pp-nav li {
    width: auto;
    height: auto;
    margin: 8px;
}

#pp-nav li a {
    display: block;
}

#pp-nav span {
    display: block;
    position: static;
    width: 2px;
    height: 16px;
    background: var(--greyish);
    transition: background-color 0.3s ease-in-out;
    border-radius: 0;
    border: 0;
}

#pp-nav li .active span {
    background-color: var(--black);
}

.pp-tooltip {
    color: var(--grey);
}

.pp-scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

/*-------------------------------------------------------------------------------
  5. Main content
-------------------------------------------------------------------------------*/

.preloader {
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader__bounce {
    display: flex;
}

.preloader__bounce > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: var(--blackish);
    animation: bounce-delay 1.4s infinite ease-in-out both;
    -webkit-animation: bounce-delay 1.4s infinite ease-in-out both;
}

.preloader__bounce .preloader__bounce-one {
    animation-delay: -0.32s;
    -webkit-animation-delay: -0.32s;
}

.preloader__bounce .preloader__bounce-two {
    animation-delay: -0.16s;
    -webkit-animation-delay: -0.16s;
}

.section-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.section-container .container {
    position: relative;
    z-index: 994;
}

.section__title {
    margin-bottom: 28px;
    font-size: 8vmin;
    font-family: 'MonumentExtended', sans-serif;
    line-height: 1;
    color: var(--accent);
    text-transform: uppercase;
}

.section__sub-title {
    margin: 32px 0;
    font-size: 5vmin;
    font-family: 'MonumentExtended', sans-serif;
    line-height: 1.5;
    color: var(--grey);
    text-transform: uppercase;
}

.section__sub-title.float-right {
    text-align: right;
    text-transform: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 4vmin;
    margin: 0;
}

.section__desc {
    margin-right: 28%;
    color: var(--blackish);
    line-height: 1.5;
}

.about-section__download-btn {
    margin-top: 52px;
    padding: 16px 48px;
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.about-section__download-btn:hover {
    color: var(--white);
    transition: ease-in-out 0.3s;
}

.about-section__download-btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    width: 0;
    font-weight: bold;
    z-index: -1;
    transition: ease-in-out 0.3s;
}

.about-section__download-btn:hover::before {
    width: 100%;
}

.skills-section__card {
    display: flex;
    flex-direction: column;
    padding: 28px;
    background-color: var(--blackish);
    height: 100%;
    position: relative;
}

.skill-card__title {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--whitish);
}

.skills-section__icon {
    color: var(--accent);
    position: absolute;
    bottom: 5%;
    right: 5%;
    line-height: 1;
    font-size: 800%;
    opacity: 0.1;
}

.skill-card__desc {
    font-size: 16px;
    color: var(--white);
}

.section__number {
    z-index: 995;
    color: var(--whitish);
}

.section:not(.active) .animate-element {
    animation-name: none;
}

.section.active .animate-element {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.about-section {
    padding-bottom: 80px;
    background-color: var(--white);
}

.skills-section {
    background-color: var(--white);
}

.education-section {
    background-color: var(--white);
}

.experience-section {
    background-color: var(--white);
}

.projects-section {
    background-color: var(--white);
}

.contact-section {
    background-image: url('../img/bg-contact.jpg');
}

.section__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 990;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.bg-image {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#about-section__potrait {
    background-image: url('../img/bg-personal-intro-man.png');
    background-position: 55% -15%;
    filter: contrast(1.2) brightness(1.2);
}

#about-section__circle-1 {
    width: 160px;
    height: 160px;
    left: -6% !important;
    top: 44% !important;
    bottom: auto;
    right: auto;
}

#about-section__circle-2 {
    width: 1000px;
    height: 1000px;
    left: 32% !important;
    top: 52% !important;
    bottom: auto;
    right: auto;
}

#about-section__circle-3 {
    width: 600px;
    height: 600px;
    left: 70% !important;
    top: -55% !important;
    bottom: auto;
    right: auto;
}

#skills-section__circle-1 {
    width: 132px;
    height: 132px;
    right: -64px !important;
    top: 80% !important;
    bottom: auto;
    left: auto !important;
}

#skills-section__circle-2 {
    width: 600px;
    height: 600px;
    left: 20% !important;
    top: 0 !important;
    bottom: auto;
    right: auto;
}

#experience-section__circle-1 {
    width: 132px;
    height: 132px;
    left: -64px !important;
    top: 50% !important;
    bottom: auto !important;
    right: auto !important;
}

#experience-section__circle-2 {
    width: 724px;
    height: 724px;
    right: -15% !important;
    top: 83% !important;
    bottom: auto !important;
    left: auto !important;
}

#education-section__image-1 {
    width: 240px;
    height: 240px;
    background-image: url('../img/img-code-1.png');
    background-size: contain;
    position: absolute;
    top: 0% !important;
    right: 3% !important;
    bottom: auto !important;
    left: auto !important;
}

#education-section__image-2 {
    width: 660px;
    height: 480px;
    background-image: url('../img/img-code-2.png');
    background-size: contain;
    position: absolute;
    top: 60% !important;
    right: 20% !important;
    bottom: auto !important;
    left: auto !important;
}

#education-section__circle-1 {
    width: 128px;
    height: 128px;
    left: -64px !important;
    top: 50% !important;
    bottom: auto !important;
    right: auto !important;
}

#education-section__circle-2 {
    width: 720px;
    height: 720px;
    right: -15% !important;
    top: 80% !important;
    bottom: auto !important;
    left: auto !important;
}

/*-------------------------------------------------------------------------------
  6. Footer
-------------------------------------------------------------------------------*/

.footer__copyright {
    color: var(--grey);
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    position: fixed;
    left: 12px;
    bottom: 12px;
    z-index: 996;
}

/*-------------------------------------------------------------------------------
  9. Responsive
-------------------------------------------------------------------------------*/

@media (max-width: 575px) {
    .menu {
        width: 100%;
    }

    .slider-wrapper .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .slider-wrapper .slide-personal-projects .container {
        padding-right: 24px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 16px;
    }

    .about-section__download-btn {
        position: fixed;
        padding: 12px 0;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--black);
        color: var(--white);
        border: none;
    }

    .about-section__download-btn::before {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 17px;
    }
}

@media (max-width: 1023px) {
    .skills-section__card {
        padding: 12px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
    #pp-nav.right {
        right: 56px;
    }
}
