/*-------------------------------------------------------------------------------
  1. Declare
  2. Available tags
  3. Animation
  4. Header
  5. Main content
  6. Menu
  7. Custom style
  8. Pagepiling
  9. Responsive
-------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------
  1. Declare
-------------------------------------------------------------------------------*/
:root {
    --black: #242424;
    --blackish: #333;
    --white: #fff;
    --grey: #787878;
    --accent: #ffa64d;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Krona One';
    src: url('../fonts/KronaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------------------------------------
  2. Available tags
-------------------------------------------------------------------------------*/
html {
    font-size: 14px;
    cursor: default;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--black);
    background-color: var(--white);
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button:focus,
input:focus {
    outline: none;
}

::selection {
    background-color: var(--accent);
    color: var(--black);
    text-shadow: none;
}

-webkit-::selection {
    background-color: var(--accent);
    color: var(--black);
    text-shadow: none;
}

::-moz-selection {
    background-color: var(--accent);
    color: var(--black);
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--black);
}

/*-------------------------------------------------------------------------------
  3. Animation
-------------------------------------------------------------------------------*/
@-webkit-keyframes fade-zoom {
    from {
        opacity: 0;
        margin-left: -192px;
        transform: scale3d(0.6, 0.6, 0.6);
        -webkit-transform: scale3d(0.6, 0.6, 0.6);
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes fade-zoom {
    from {
        opacity: 0;
        margin-left: -192px;
        transform: scale3d(0.6, 0.6, 0.6);
        -webkit-transform: scale3d(0.6, 0.6, 0.6);
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-webkit-keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
        -webkit-transform: translate3d(0, -100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
        -webkit-transform: translate3d(0, -100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, 160px, 0);
        -webkit-transform: translate3d(0, 160px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, 160px, 0);
        -webkit-transform: translate3d(0, 160px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translate3d(-160px, 0, 0);
        -webkit-transform: translate3d(-160px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translate3d(-160px, 0, 0);
        -webkit-transform: translate3d(-160px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(160px, 0, 0);
        -webkit-transform: translate3d(160px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(160px, 0, 0);
        -webkit-transform: translate3d(160px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounce-delay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce-delay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 6px;
        transform: rotate(0);
    }
    100% {
        top: 6px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 6px;
        transform: rotate(45deg);
    }
    50% {
        top: 6px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 6px;
        transform: rotate(0);
    }
    100% {
        bottom: 6px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 6px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 6px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes ripple {
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}

.fade-zoom {
    animation-name: fade-zoom;
    -webkit-animation-name: fade-zoom;
}

.fade-in-down {
    animation-name: fade-in-down;
    -webkit-animation-name: fade-in-down;
}

.fade-in-up {
    animation-name: fade-in-up;
    -webkit-animation-name: fade-in-up;
}

.fade-in-left {
    animation-name: fade-in-left;
    -webkit-animation-name: fade-in-left;
}

.fade-in-right {
    animation-name: fade-in-right;
    -webkit-animation-name: fade-in-right;
}

.ripple {
    animation-name: ripple;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

/*-------------------------------------------------------------------------------
  7. Custom style
-------------------------------------------------------------------------------*/

[class^='.row .col-'] {
    margin-bottom: 30px;
}

.accent-font {
    font-family: 'Krona One', sans-serif;
}

.grayscale {
    filter: grayscale(1);
}

.bg-center-cover {
    background-size: cover;
    background-position: 50% 50%;
}

.animation-delay-1 {
    animation-delay: 0.2s;
}

.animation-delay-2 {
    animation-delay: 0.2s;
}

.animation-delay-3 {
    animation-delay: 0.6s;
}

.animation-delay-4 {
    animation-delay: 0.8s;
}

.animation-delay-5 {
    animation-delay: 1s;
}

[id^='circle-'],
[id*='circle-'] {
    border-radius: 50%;
}

.circle-purple {
    background-color: rgba(227, 175, 255, 0.8);
}

.circle-green {
    background-color: rgba(214, 255, 144, 0.8);
}

.circle-orange {
    background-color: rgba(255, 211, 166, 0.8);
}

/*-------------------------------------------------------------------------------
  4. Header
-------------------------------------------------------------------------------*/
header {
    padding: 8px 0;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 997;
}

header.on-scroll {
    background-color: var(--white);
}

header .container-fluid {
    color: var(--black);
}

.header__brand {
    float: right;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
}

.header__brand:hover {
    text-decoration: none;
}

.header__contact-item,
.header__contact-divider {
    display: inline-block;
    vertical-align: middle;
    user-select: text;
}

.header__contact-divider {
    margin: 0 28px;
}

.header__tagline {
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    font-size: 12px;
    text-align: right;
}

.header__contact {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    float: right;
}

.header__hamburger {
    background: none;
    border: none;
    padding: 12px 0;
    float: left;
    position: relative;
    z-index: 999;
    display: block;
    width: 32px;
}

.header__hamburger .stick {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 3px;
    background-color: var(--black);
    position: relative;
}

.header__hamburger .stick + .stick {
    margin-top: 9px;
}

.header__hamburger #stick-1 {
    animation: ease 0.5s top-2 forwards;
}

.header__hamburger #stick-2 {
    animation: ease 0.5s bottom-2 forwards;
}

.html__menu-show .header__hamburger #stick-1 {
    animation: ease 0.5s top forwards;
}

.html__menu-show .header__hamburger #stick-2 {
    animation: ease 0.5s bottom forwards;
}

/*-------------------------------------------------------------------------------
  6. Menu
-------------------------------------------------------------------------------*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
    background-color: var(--white);
    max-width: 100%;
    width: 400px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    transition: ease-in-out 0.4s;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.html__menu-show .menu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding: 0 8px;
}

.menu-main ul {
    margin: 16px 0;
    padding: 0;
    list-style: none;
}

.menu-main ul li {
    margin: 16px 0;
}

.menu-main a {
    color: var(--black);
    text-decoration: none;
}

.menu-main .active a,
.menu-main a:hover {
    color: var(--accent);
}

.menu-overlay {
    position: fixed;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
    z-index: 980;
}

.html__menu-show .menu-overlay {
    left: 0;
}

.menu .menu-main {
    transition-delay: 0.4s;
}

.menu__footer {
    display: flex;
    flex-direction: column;
}

.menu .menu__footer-social {
    transition-delay: 0.6s;
}

.menu .menu__footer {
    transition-delay: 0.8s;
}

.menu .menu-main,
.menu .menu__footer-social,
.menu .menu__footer {
    opacity: 0;
    transform: translateX(-160px);
    transition: all 0.5s ease-in-out;
}

.html__menu-show .menu .menu-main,
.html__menu-show .menu .menu__footer-social,
.html__menu-show .menu .menu__footer {
    opacity: 1;
    transform: translateX(0);
}

.menu__footer-copyright {
    text-align: right;
    margin: 16px 8px;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--black);
}

.menu__footer-social {
    margin: 16px 0;
    padding: 0;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu__footer-social li {
    margin: 0 8px;
}

.menu__footer-social a {
    color: var(--grey);
    transition: color 0.3s ease;
}

.menu__footer-social a:hover {
    color: var(--black);
}

/*-------------------------------------------------------------------------------
  8. Pagepiling
-------------------------------------------------------------------------------*/

#pp-nav.right {
    right: 0;
}

#pp-nav li {
    width: auto;
    height: auto;
    margin: 8px;
}

#pp-nav li a {
    display: block;
}

#pp-nav span {
    display: block;
    position: static;
    width: 4px;
    height: 20px;
    background: none;
    border-radius: 0;
    border: 1px solid var(--black) !important;
}

#pp-nav li .active span {
    background-color: var(--black);
}

.pp-tooltip {
    color: var(--grey);
    opacity: 0.6s;
}

.pp-scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

/*-------------------------------------------------------------------------------
  5. Main content
-------------------------------------------------------------------------------*/

.preloader {
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader__bounce {
    display: flex;
}

.preloader__bounce > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: var(--black);
    animation: bounce-delay 1.4s infinite ease-in-out both;
    -webkit-animation: bounce-delay 1.4s infinite ease-in-out both;
}

.preloader__bounce .preloader__bounce-one {
    animation-delay: -0.32s;
    -webkit-animation-delay: -0.32s;
}

.preloader__bounce .preloader__bounce-two {
    animation-delay: -0.16s;
    -webkit-animation-delay: -0.16s;
}

.section-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.section-container .container {
    position: relative;
    z-index: 994;
}

.section__title {
    margin-bottom: 28px;
    font-size: 8vmin;
    font-family: 'Krona One', sans-serif;
    line-height: 1;
    color: var(--accent);
    text-transform: uppercase;
}

.section__title span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accent);
}

.section__sub-title {
    margin: 32px 0;
    font-size: 4.8vmin;
    font-family: 'Krona One', sans-serif;
    line-height: 1.5;
    color: var(--blackish);
    text-transform: uppercase;
}

.section__sub-title span {
    color: var(--accent);
}

.section__sub-title.float-right {
    text-align: right;
    text-transform: none;
    font-size: 3vmin;
    margin: 0;
}

.section__desc {
    margin-right: 28%;
    color: var(--grey);
    line-height: 1.5;
}

.about-section__download-btn {
    margin-top: 52px;
    padding: 16px 48px;
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--blackish);
    border: 1px solid var(--blackish);
}

.about-section__download-btn:hover {
    color: var(--white);
    transition: ease-in-out 0.3s;
}

.about-section__download-btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--blackish);
    width: 0;
    font-weight: bold;
    z-index: -1;
    transition: ease-in-out 0.3s;
}

.about-section__download-btn:hover::before {
    width: 100%;
}

.skills-section__card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    position: relative;
    background-color: var(--blackish);
    border-radius: 4%;
}

.skill-card__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--grey);
}

.skills-section__icon {
    position: absolute;
    bottom: 5%;
    right: 5%;
    line-height: 1;
    font-size: 800%;
    opacity: 0.15;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--grey);
}

.skill-card__desc {
    color: var(--white);
}

.section__number {
    z-index: 995;
    color: var(--grey);
    opacity: 0.6;
}

.section:not(.active) .animate-element {
    animation-name: none;
}

.section.active .animate-element {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.about-section,
.skills-section,
.education-section,
.experience-section,
.projects-section,
.contact-section {
    background-color: var(--white);
}

.about-section,
.experience-section {
    background-image: url('/img/green.webp');
}

.skills-section,
.projects-section {
    background-image: url('/img/orange.webp');
}

.education-section,
.contact-section {
    background-image: url('/img/purple.webp');
}

.about-section {
    padding-bottom: 80px;
}

.section__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 990;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section__bg.bg-project-1 {
    background-image: linear-gradient(
        to right bottom,
        #ff4500,
        #ff6300,
        #ff7b00,
        #ff9100,
        #ffa500
    );
}

.section__bg.bg-project-2 {
    background-color: #333;
}

.section__bg.bg-project-3 {
    background-color: #0288d1;
}

.section__bg.bg-project-4 {
    background-image: url('../img/noise.png');
}

.section__bg.bg-project-5 {
    background-color: #0288d1;
}

.bg-image {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#about-section__potrait {
    background-image: url('../img/potrait.webp');
    background-position: 55% -15%;
    filter: contrast(1.2) brightness(1.2);
}

#about-section__circle-1 {
    width: 160px;
    height: 160px;
    left: -6% !important;
    top: 44% !important;
    bottom: auto !important;
    right: auto !important;
}

#about-section__circle-2 {
    width: 1000px;
    height: 1000px;
    left: 32% !important;
    top: 52% !important;
    bottom: auto !important;
    right: auto !important;
}

#about-section__circle-3 {
    width: 600px;
    height: 600px;
    left: 70% !important;
    top: -55% !important;
    bottom: auto !important;
    right: auto !important;
}

#skills-section__circle-1 {
    width: 320px;
    height: 320px;
    right: -15% !important;
    bottom: 10% !important;
    top: auto !important;
    left: auto !important;
}

#skills-section__circle-2 {
    width: 480px;
    height: 480px;
    left: -15% !important;
    top: -20% !important;
    bottom: auto !important;
    right: auto !important;
}

#experience-section__circle-1 {
    width: 132px;
    height: 132px;
    left: -64px !important;
    top: 60% !important;
    bottom: auto !important;
    right: auto !important;
}

#experience-section__circle-2 {
    width: 724px;
    height: 724px;
    right: -15% !important;
    top: 83% !important;
    bottom: auto !important;
    left: auto !important;
}

#education-section__circle-1 {
    width: 720px;
    height: 720px;
    left: -64px !important;
    top: 60% !important;
    bottom: auto !important;
    right: auto !important;
}

#education-section__circle-2 {
    width: 128px;
    height: 128px;
    right: 10% !important;
    top: 40% !important;
    bottom: auto !important;
    left: auto !important;
}

#projects-section-1__image-1 {
    background-image: url('../img/food-recipes-1.webp');
    background-size: contain;
    width: 40%;
    position: absolute;
    top: 0;
    left: 55%;
}

#projects-section-1__image-2 {
    background-image: url('../img/food-recipes-2.webp');
    background-size: contain;
    width: 25%;
    position: absolute;
    bottom: -100%;
    left: 30%;
}

#projects-section-1__image-3 {
    background-image: url('../img/food-recipes-3.webp');
    background-size: contain;
    width: 15%;
    position: absolute;
    top: -100%;
    left: 15%;
}

#projects-section-2__image {
    width: 450px;
    height: 250px;
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translateY(-50%) rotate(15deg) skew(-25deg);
}

.projects-section-2__image-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 20px 20px 80px #000;
    backface-visibility: hidden;
}

.projects-section-2__image-layer:nth-child(1) {
    background-image: url('../img/SplashScreenBackground.png');
    transform: translate(48px, 48px) scale(1.1);
    opacity: 0.2;
}

.projects-section-2__image-layer:nth-child(2) {
    background-image: url('../img/SplashScreenBackground.png');
    opacity: 0.6;
}

.projects-section-2__image-layer:nth-child(3) {
    background-image: url('../img/SplashScreenBackground.png');
    transform: translate(-48px, -48px) scale(0.9);
}

#projects-section-3__image-1 {
    background-image: url('../img/SplashScreenBackground1.png');
    background-size: contain;
    position: absolute;
    left: -100%;
    bottom: 0;
    transform: rotate(15deg) scale(0.5);
    opacity: 0.05;
}

#projects-section-3__image-2 {
    position: absolute;
    left: 50%;
    top: 55%;
    width: 600px;
    height: 480px;
    transform: translateY(-55%) skewX(-15deg);
}

.projects-section-3__image-2-part {
    position: absolute;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 20px 20px 60px #000;
    border: 1px solid #0288d1;
    backface-visibility: hidden;
}

.projects-section-3__image-2-part:nth-child(3) {
    background-image: url('../img/3.png');
    width: 210px;
    height: 280px;
    top: 0;
    left: 0;
}

.projects-section-3__image-2-part:nth-child(2) {
    background-image: url('../img/1.png');
    width: 312px;
    height: 202px;
    top: 0;
    right: 8%;
}

.projects-section-3__image-2-part:nth-child(1) {
    background-image: url('../img/5.png');
    width: 320px;
    height: 180px;
    bottom: 0;
    left: 0;
}

.projects-section-3__image-2-part:nth-child(4) {
    background-image: url('../img/4.png');
    width: 200px;
    height: 250px;
    bottom: 0;
    right: 8%;
}

#projects-section-4__image {
    background-image: url('../img/shoes.png');
    background-size: contain;
    position: absolute;
    width: 50%;
    left: 45%;
    transform: scaleX(-1);
}

/*-------------------------------------------------------------------------------
  6. Footer
-------------------------------------------------------------------------------*/

.footer__copyright {
    color: var(--grey);
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    position: fixed;
    left: 12px;
    bottom: 12px;
    z-index: 996;
    opacity: 0.6;
}

/*-------------------------------------------------------------------------------
  Owl carousel
-------------------------------------------------------------------------------*/
.owl-carousel .section-container {
    height: 100vh;
}

.owl-nav {
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav button {
    opacity: 0.5;
}

.owl-nav button:hover {
    opacity: 1;
    transition: ease-in-out 0.4s;
}

/*-------------------------------------------------------------------------------
  9. Responsive
-------------------------------------------------------------------------------*/

@media (max-width: 575px) {
    .menu {
        width: 100%;
    }

    .slider-wrapper .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .slider-wrapper .slide-personal-projects .container {
        padding-right: 24px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .about-section__download-btn {
        position: fixed;
        padding: 12px 0;
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--black);
        color: var(--white);
        border: none;
    }

    .about-section__download-btn::before {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 1023px) {
    .skills-section__card {
        padding: 12px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
    #pp-nav.right {
        right: 56px;
    }
}
